@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
body{
	background-color: #303030;
	font-family: "Open Sans", sans-serif;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

