@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

@import "bootstrap/scss/functions";

$primary: #10FF6B;
$font-family-sans-serif: "Space Grotesk";
$border-radius: 8px;

@import "bootstrap/scss/bootstrap";
