<div class="header">
    <div class="header-logo">
        <img src="../../assets/pentacode-dark.png" alt="LOGO">
    </div>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="#" class="navbar-link"><i data-feather="home"></i><span>Home</span> </a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link"><i data-feather="folder"></i><span>Projects</span></a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link"><i data-feather="users"></i><span>About us</span></a>
            </li>
        </ul>
    </nav>
</div>