<app-navigation-bar></app-navigation-bar>

<div class="blog-conteiner">
    <div class="blog-placeholder">
        <div class="blog-header">
          Latest Achievements of Pentacode Team
        </div>
        <div class="blog-content">
          Discover how the Pentacode team conquered recent challenges and celebrated new milestones in programming. From groundbreaking hackathon wins to mastering advanced technologies, our journey is one of relentless learning and success.
        </div>
    </div>
    <div class="blog-placeholder">
        <div class="blog-header">
          Latest Achievements of Pentacode Team
        </div>
        <div class="blog-content">
          Discover how the Pentacode team conquered recent challenges and celebrated new milestones in programming. From groundbreaking hackathon wins to mastering advanced technologies, our journey is one of relentless learning and success.
        </div>
    </div>
</div>