<div class="menu">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">

			<a class="navbar-brand" href="#">
				<div class="header-logo">
					<img src="assets/pentacode-dark-oneline.png" alt="Logo">
				</div>
			</a>

			<button class="navbar-toggler menu-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-menu">
					<li class="navbar-item">
						<a href="home" class="navbar-link"><i class="bi bi-house-door-fill"> Home</i></a>
					</li>
					<li class="navbar-item">
						<a href="blog" class="navbar-link"><i class="bi bi-newspaper"> Blog</i></a>
					</li>
					<li class="navbar-item">
						<a href="projects" class="navbar-link"><i class="bi bi-archive-fill"> Projects</i></a>
					</li>
					<li class="navbar-item">
						<a href="about-us" class="navbar-link"><i class="bi bi-people-fill"> Team</i></a>
					</li>
					<li class="navbar-item">
						<a href="contact" class="navbar-link"><i class="bi bi-chat-left-text"> Contact</i></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
