<app-navigation-bar></app-navigation-bar>

<app-baner>
	<h1><span>Pentacode Team</span>: Innovators in Code</h1>
    <p>
		We are <span>Pentacode</span> a passionate team of programmers brought together on our
		journey to <span>mastering the art of code</span>. United by a shared drive and the thrill 
		of hackathons, our collaboration began as an opportunity to innovate and create 
		in high-pressure, fast-paced environments.
    </p>
    <p>
		Driven by curiosity and a thirst for knowledge, we continuously <span>learn</span>, 
	<span>grow</span>,
		and <span>challenge</span> one another, pushing boundaries to refine our craft. As a collective,
		we are now seeking new opportunities to <span>elevate our skills</span>, 
		<span>tackle complex challenges</span>,
		and <span>make an impact</span> with our creativity and expertise.
	</p>
	<p>
	<span><strong>Together, we code, learn, and innovate—one challenge at a time.</strong></span>
	</p>
    <a href="contact"><button class="btn btn-primary">Contact us</button></a>
</app-baner>

<div class="cards">
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
</div>
