<app-baner>
	<h1><strong>Pentacode Team</strong>: Innovators in Code</h1>
    <p>
		We are <strong>Pentacode</strong> a passionate team of programmers brought together on our
		journey to <strong>mastering the art of code</strong>. United by a shared drive and the thrill 
		of hackathons, our collaboration began as an opportunity to innovate and create 
		in high-pressure, fast-paced environments.
    </p>
    <p>
		Driven by curiosity and a thirst for knowledge, we continuously <strong>learn</strong>, 
	<strong>grow</strong>,
		and <strong>challenge</strong> one another, pushing boundaries to refine our craft. As a collective,
		we are now seeking new opportunities to <strong>elevate our skills</strong>, 
		<strong>tackle complex challenges</strong>,
		and <strong>make an impact</strong> with our creativity and expertise.
	</p>
	<p>
	<strong><strong>Together, we code, learn, and innovate—one challenge at a time.</strong></strong>
	</p>
    <a href="contact"><button class="btn btn-primary">Contact us</button></a>
</app-baner>

<div class="cards">
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
	<app-about-us-card></app-about-us-card>
</div>
