<app-navigation-bar></app-navigation-bar>

<div class="banner">
    <img class="top-logo" src="assets/pentagon.png" alt="Photo">
    <div class="text">
        <h1>Our Projects</h1>
        <p>Team <span>Pentacode</span> specializes in developing cutting-edge, personalized <span>web applications
            </span> tailored to meet diverse client needs.
            Our projects seamlessly blend innovation with functionality, leveraging modern technologies like <span>.NET
                Core</span>, <span>Angular</span>,
            <span>Entity Framework</span> and <span>SQL Server</span> to build <span>robust backends</span> and
            <span>dynamic</span>, <span>user-friendly frontends</span>.
        </p>
        <p>We focus on creating <span>scalable</span>, <span>secure</span> and <span>efficient applications</span>,
            whether for e-commerce, enterprise solutions, or customer-centric platforms.
            With an emphasis on responsiveness and tailored designs, our solutions <span>empower businesses</span> to
            streamline operations, enhance user experiences,
            and achieve their goals.</p>
        <button class="btn btn-primary">Contact us</button>
    </div>
    <img class="top-img" src="assets/Project.webp" alt="Photo">
</div>

<div class="main">
    <div class="info">
        <div class="statistics">
            <h5 class="card-title">Projects Statiscic</h5>
            <img class="info-icon" src="assets/Projects-icon.webp" alt="icon">
        </div>
        <div class="statistics">
            <h5 class="card-title">Writed lines of code</h5>
            <h5 class="card-title"><span>200 000 000</span> lines</h5>
        </div>
        <div class="statistics">
            <h5 class="card-title">Used languages</h5>
            <div class="content">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        C#
                        <span class="badge badge-primary badge-pill">14M</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        TypeScript
                        <span class="badge badge-primary badge-pill">17M</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        HTML
                        <span class="badge badge-primary badge-pill">7M</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        CSS
                        <span class="badge badge-primary badge-pill">10M</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="projects">
        <app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <!--<app-project-card></app-project-card>
        <app-project-card></app-project-card>
        <app-project-card></app-project-card> -->
    </div>
</div>