:host {
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.banner {
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 25px #0c662f;
  min-height: 40vh;
}

h1 {
  color: #10FF6B;
  font-weight: 900;
  font-size: 4rem;
}

@media (max-width: 1200px) {
  .top-img {
    display: block;
  }
  .top-img {
    display: none;
  }
}

@media (max-width: 1100px) {
  .top-logo {
    display: block;
  }
  .top-logo {
    display: none;
  }
}

.top-img {
  height: auto;
  width: 15vw;
  margin-left: auto;
}

.text{
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  color: white;
}

.btn {
  transition: 250ms ease all;
  border: none;
  width: 50%;
  color: #F5F5F5;
  background-color: #0EBF52;
  border-radius: 20px;
}

.btn:hover {
  background-color: #0b8138;
  color: #80FFC4;
}

span {
  color: #10FF6B;
}

.top-logo {
  max-height: 35vh;
}

.main {
  padding-top: 1rem;
  display: flex;
}

@media (max-width: 1050px) {
  .main {
    flex-wrap: wrap;
  }
}

.info {
  align-items: center;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.projects {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.statistics {
  align-items: center;
  background-color:#292929;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 7px solid #0EBF52;
  background-clip: padding-box;
  text-align: center;
  border-radius: 1rem;
}

.card-title {
  color: white;
  font-weight: 800;
  font-size: 25px;
}

.content {
  color: #10FF6B;
  width: 100%;
}

.info-icon {
  max-width: 13vw;
  border-radius: 10px;
}

.list-group-item{
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
}

.list-group {
  width: 100%;
}


/* #10FF6B
#0EBF52
#80FFC4
#F5F5F5
#FFCC29
#1A1A1A */