<app-baner>
  <h1>Our Projects</h1>
  <p>Team <strong>Pentacode</strong> specializes in developing cutting-edge, personalized <strong>web applications
  </strong> tailored to meet diverse client needs.
    Our projects seamlessly blend innovation with functionality, leveraging modern technologies like <strong>.NET
      Core</strong>, <strong>Angular</strong>,
    <strong>Entity Framework</strong> and <strong>SQL Server</strong> to build <strong>robust backends</strong> and
    <strong>dynamic</strong>, <strong>user-friendly frontends</strong>.
  </p>
  <p>We focus on creating <strong>scalable</strong>, <strong>secure</strong> and <strong>efficient applications</strong>,
    whether for e-commerce, enterprise solutions, or customer-centric platforms.
    With an emphasis on responsiveness and tailored designs, our solutions <strong>empower businesses</strong> to
    streamline operations, enhance user experiences,
    and achieve their goals.
  </p>
  <div>
    <a href="contact"><button routerLinkActive="router-link-active"  class="btn btn-primary">Contact us</button></a>
  </div>
</app-baner>

<div class="main">
  <div class="info">
    <!--
<div class="statistics">
<h5 class="card-title">Projects Statiscic</h5>
<img class="info-icon" src="assets/Projects-icon.webp" alt="icon">
</div>
<div class="statistics">
<h5 class="card-title">Writed lines of code</h5>
<h5 class="card-title"><span>200 000 000</span> lines</h5>
</div>
<div class="statistics">
<h5 class="card-title">Used languages</h5>
<div class="content">
<ul class="list-group">
<li class="list-group-item d-flex justify-content-between align-items-center">
C#
<span class="badge badge-primary badge-pill">14M</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
TypeScript
<span class="badge badge-primary badge-pill">17M</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
HTML
<span class="badge badge-primary badge-pill">7M</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
CSS
<span class="badge badge-primary badge-pill">10M</span>
</li>
</ul>
</div>
</div>
-->
  </div>
  <div class="d-flex p-3 flex-row flex-wrap justify-content-evenly">
    <app-project-card [img]="{src:'projects/big-ben-ten.png', alt:'Big Ben Ten'}" title="BigBenTen">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, in. Omnis voluptas hic aliquam dolores, officia quo voluptates at doloribus nesciunt magni, unde fuga assumenda expedita non odit ducimus libero?
    </app-project-card>
    <app-project-card [img]="{src: 'projects/sims.png', alt: 'Sims'}" title="Sims">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, in. Omnis voluptas hic aliquam dolores, officia quo voluptates at doloribus nesciunt magni, unde fuga assumenda expedita non odit ducimus libero?
    </app-project-card>
    <app-project-card [img]="{src: 'projects/teamhere.png', alt: 'TeamHere'}" title="TeamHere">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, in. Omnis voluptas hic aliquam dolores, officia quo voluptates at doloribus nesciunt magni, unde fuga assumenda expedita non odit ducimus libero?
    </app-project-card>
  </div>
</div>
