<app-baner>
  <h1>Our Projects</h1>
  <div class="d-flex">
    This page is dedicated to highlight projects we developed.
  </div>
  <a href="contact" class="mt-2"><button routerLinkActive="router-link-active"  class="btn btn-primary">Contact us</button></a>
</app-baner>

<div class="main">
  <div class="info">
    <!--
<div class="statistics">
<h5 class="card-title">Projects Statiscic</h5>
<img class="info-icon" src="assets/Projects-icon.webp" alt="icon">
</div>
<div class="statistics">
<h5 class="card-title">Writed lines of code</h5>
<h5 class="card-title"><span>200 000 000</span> lines</h5>
</div>
<div class="statistics">
<h5 class="card-title">Used languages</h5>
<div class="content">
<ul class="list-group">
<li class="list-group-item d-flex justify-content-between align-items-center">
C#
<span class="badge badge-primary badge-pill">14M</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
TypeScript
<span class="badge badge-primary badge-pill">17M</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
HTML
<span class="badge badge-primary badge-pill">7M</span>
</li>
<li class="list-group-item d-flex justify-content-between align-items-center">
CSS
<span class="badge badge-primary badge-pill">10M</span>
</li>
</ul>
</div>
</div>
-->
  </div>
  <div class="d-flex p-3 flex-row flex-wrap justify-content-evenly">
    <app-project-card [img]="{src:'projects/big-ben-ten.png', alt:'Big Ben Ten'}" title="BigBenTen">
      A modular wearable device design, developed for the Platynowy Indeks Politechniki Świętokrzyskiej contest. 
    </app-project-card>
    <app-project-card [img]="{src: 'projects/sims.png', alt: 'Sims'}" title="Sims">
      Website to aid students with registrations for internships at Kielce University of Technology.
    </app-project-card>
    <app-project-card [img]="{src: 'projects/teamhere.png', alt: 'TeamHere'}" title="TeamHere">
      Sport event organization website, developed for Silevis Hackathon 2023.
    </app-project-card>
  </div>
</div>
