:host {
  width: 90%;
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.card {
  max-width: 70rem;
  display: flex;
  background-color: rgba(0, 128, 0, 0.096);
  color: white;
  padding: 1rem;
  flex-direction: row;
}
@media only screen and (max-width: 1026px) {
  .team-photo {
    display: none;
  }
}
.team-photo {
  width: 20rem;
  border-right: 1px solid white;
  padding: 1rem;
  margin: 1rem;
}

img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}

.card-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.btn {
  width: 9rem;
}
