<div class="card">
	<div class="team-photo">
		<img src="assets/pentacode-dark.png">
	</div>
	<div class="card-content">
			Welcome to PentaCode, where Our Vision, Your Code drives our passion for innovation.
			We are a dynamic team of skilled programmers with extensive expertise in creating cutting-edge web applications.
			With a proven track record of winning several hackathons, we combine our technical prowess with creative
			problem-solving to deliver exceptional digital solutions.

			Currently deepening our knowledge in IT-related fields, we are eager to leverage our skills and experience
			to help you achieve your goals. Whether you're looking to build a robust web application or bring your digital
			ideas to life, PentaCode is here to turn your vision into reality. Let's code the future together!
		<a href="about-us" class="btn btn-primary">Team members</a>
	</div>
</div>
