.role {
	color: #e8e6f0;
	background-color: #5acc43;
	border-radius: 10px;
	font-size: 14px;
	font-weight: bold;
	width: 50%;
	margin: 10px;
	padding: 2px;
}

.card-container {
	display: flex;
	flex-direction: column;
	margin: 2rem;
	border-radius: 5px;
	border: 3px solid green;
	color: #B3B8CD;
	text-align: center;
	padding: 1rem;
	cursor: pointer;
}

.card-container:hover {
	animation: rotateBorderColors 6s linear infinite;
    transition: 0.5s;
    box-shadow: 5px 10px 10px black;
    transform: translateY(-10px);
}

.card-container:hover .round {
	transition: 0.5s;
	box-shadow: 0px 0px 25px #01d9ff;
}

.round {
	border-radius: 20%;
}

.about-me-button {
	background-color: #0EBF52;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	padding: 10px 45px;
	border: none;
}

.about-me-button:hover{
	transition: 0.5s;
	color: #00ff15;
	background-color: #0b8138;
}

.skills {
	background-color: #11331a;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.skills ul li {
	border: 1px solid #5acc43;
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}

h3 {
	margin-top: 10px;
	font-weight: 900;
}

.card-container:hover h3 {
	color: #00ff15;
}
@keyframes rotateBorderColors {
    0% {
        border-image: linear-gradient(to right, #01d9ff 0%, #43cc77 100%) 1;
    }
    25% {
        border-image: linear-gradient(to right, #5acc43 0%, #01d9ff  100%) 1;
    }
    50% {
        border-image: linear-gradient(to right, #01d9ff 0%, #5acc43 100%) 1;
    }
    75% {
        border-image: linear-gradient(to right, #5acc43 0%, #01d9ff  100%) 1;
    }
    100% {
        border-image: linear-gradient(to right, #01d9ff 0%, #43cc77 100%) 1;
    }
}