:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.background {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;
}

.contact-container {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

  .contact-header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .social-links {
    margin-top: 20px;
    text-align: center;
  }

  .social-links a {
    color: #aaaaaa;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
  }

  .social-links a:hover {
    color: #ffffff;
  }
