.container{
    width: 100%;
    margin-top: 2rem;
    color: white;
    text-align: center;
    padding: 10px;
}
hr{
    margin: auto;
    width: 60rem;
}
.section{
    width:33%;
    float: left;
    margin: auto;
    padding: 5px;
    border-bottom: ;
}