<!--<img class="banner" src="assets/pentagon-home-back.png" alt="">-->
<div class="p-2">
  <h1 class="text-center text-primary my-3">Welcome to pentacode!</h1>

<div class="d-flex flex-wrap gap-4 m-4">
	<app-home-card class="col d-flex" link="blog" title="Blog"> Explore our blog for the latest news and updates about our team.
  </app-home-card>
	<app-home-card class="col d-flex" link="projects" title="Projects">
    Dive into this page to learn more about our professional experience and accomplishments.
  </app-home-card>
	<app-home-card class="col d-flex" link="about-us" title="Team">
    Curious about our team members? Click here to get to know us better.
  </app-home-card>
	<app-home-card class="col d-flex" link="contact" title="Contact">
    Interested in collaborating or learning more? Visit our contact page to reach out.
  </app-home-card>
</div>
</div>
