:host {
  display: flex;
  flex-direction: column;
  background-color: #292929;
  height: 100%;
  min-height: 100vh;
}

.home-content{
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  padding: 1rem;
}

.banner {
  max-height: 40vh;
}

